body{
    background-image: linear-gradient(to bottom right, rgb(26, 26, 26), rgb(91, 19, 158));
    padding: 0;
    margin:0;
}
.form{
    padding: 40px;
    width: 250px;
}
.form h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
.form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.form button{
    margin: 0 auto;
    width: 35%;
    border: none;
    padding: 8px;
    background-color: rgb(67, 67, 165);
    color: rgb(224, 223, 226);
    font-size: 16px;
    font-weight: bolder;
    display: block;
    margin-top: 20px;
    
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}